div.list {
    min-height: 18px;
}

div.active {
    background-color: lightgreen;
}
div.backlog {
    background-color: lightblue;
}
div.icebox {
    background-color: lightgrey;
    color: grey;
}
.hiddeneditor {
    display: none;
}

.editor {
    padding-bottom: 10px;
}

.highlightonclick {
    background-color: orange;
}

a:hover.mybutton {
    font-weight: bold;
}